.chat
  .header
    .left-header
      .left-header__title
        グループ名
      %ul.left-header__members
        Member:
        %li.member
          メンバー名
        %li.member
          メンバー名
    .right-header
      .right-heder__button
        Edit
  .messages
    .message
      .upper-message
        .upper-message__user-name
          メンバー
        .upper-message__date
          1999/03/31
      .lower-message
        .lower-message__content
          メッセージ
    .message
      .upper-message
        .upper-message__user-name
          メンバー
        .upper-message__date
          1999/03/31
      .lower-message
        .lower-message__content
          メッセージ
  .form
    %input.form__message{type: 'text', placeholder: 'type a message'}
    .form__mask
      %label.form__mask__image
        = icon('fas','image',class: 'icon')
        %input.hidden{type: 'file'}
    %input.form__submit{type: 'submit', value: 'Send'}
